<div class="container mt-5">
  <div class="row">
    <% @genres.each do |genre| %>
      <div class="col-sm-3 mb-4 mt-4 grid-flex">
        <div class="card" style="width: 16rem;">
          <%= image_tag record.image, style: "width: 255px; height: 250px;" rescue image_tag "placeholder.jpg", style: "width: 255px; height: 250px;"%>
          <div class="card-body">
            <h5 class="card-title fw-bold" id="artist_title"><%= genre.name %></h5>
            <p class="card-text"><%= pluralize(genre.records.count, "Record") %> in this Genre</p>
            <div class="container text-center">
              <%= link_to "Listings", genre_path(genre), class:"btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>