<h1 class="text-center mt-4">Edit Genre</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
    <div class = "mb-3">
      <%= link_to "[cancel and return to genres listings]", genre_path(@genre), class: "d-flex justify-content-center text-dark text-decoration-none" %>
    </div>
  </div>
</div>