<h1 class="text-center mt-4 ">Genres</h1>

<div class="apple_pagination">
  <%= will_paginate @genre, :container => false %>
</div>

<%= render 'genres' %>

<div class="apple_pagination">
  <%= will_paginate @genre, :container => false %>
</div>

