<h1 class="text-center mt-5"> All record Listings</h1>

<div class="apple_pagination">
  <%= will_paginate @records, :container => false %>
</div>

<%= render 'record' %>

<div class="apple_pagination mb-3">
  <%= will_paginate @records, :container => false %>
</div>