<div class="container" id = "home-container">
  <div class="jumbotron bg-dark text-light p-5 text-center">
    <h1 class="display-4">Blogger</h1>
    <p>Go to My Website</p>
    <%= link_to "Sign up!", records_path, class: "btn btn-success btn-lg" %>
  </div>
</div>